/* @import url("https://cdn.syncfusion.com/ej2/material.css"); */
html::-webkit-scrollbar{
  display: none;
}
.active::after {
  content: "";
  display: block;
  width: 30px;
  height: 5px;
  background-color: rgba(52, 211, 153, 1);
  border-radius: 10px;
}
