/* @import url("https://cdn.syncfusion.com/ej2/material.css"); */
html::-webkit-scrollbar {
  display: none;
}
.active::after {
  content: "";
  display: block;
  width: 30px;
  height: 5px;
  background-color: rgba(52, 211, 153, 1);
  border-radius: 10px;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
